*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Bebas Neue";
}

body{
    overflow: hidden;
    background: #DAEDBD;
}

nav{
    width:100vw;
    background:#DAEDBD;
    z-index: 2;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    padding:0 50px;
}
#logo{
    font-family: "Laviossa";
}
.linkWrapper{
    justify-self: end;
}
.dropdownBtn{
    font-family: "Laviossa";
    display: inline-block;
    width:fit-content;
    padding:50px;
    font-size: 1.5rem;
    text-decoration: none;
    cursor: pointer;
}

.dropdownBtn:hover{
    color:#DAEDBD;
    background: #000;
    /* transform: scale(0.95); */
}

.dropdownMenu{
    display: inline-block;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    width:100%;
    height: 20vh;
    position: absolute;
    display: grid;;
    grid-auto-flow: column;
    /* padding:20px 0; */
    align-items: center;
    transform: translateY(-100%);
    z-index: 1;
}
.dropdownMenu.visible{
    visibility:visible;
    opacity: 1;
    transform: translateY(0);
}

.dropdownMenu li{
    list-style-type: none;
    /* text-decoration:underline wavy; */
    text-align: center;
    font-size: 2rem;
    height: 100%;
    background:black;
    display: grid;
    align-items: center;
    position: relative;
    color:white;
    transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
}
.dropdownMenu li:hover{
    background: #7DBBC3;
    cursor: pointer;
}

/* .ddItemMark{
    position: absolute;
    font-size: 8rem;
    color:#DAEDBD;
    opacity:0;
    mix-blend-mode: difference;
} */

.dropdownMenu li:hover .ddItemMark{
    opacity: 1;
}


section {
    height:80vh;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    align-items: center;
    
    position: relative;
    z-index: 0;
}

#searchArea{
    display: grid;
    justify-content: center;
}
.fieldWrapper{
    position: relative;
    width: fit-content;
    
}

#searchLabel{
    position: absolute;
    top:50%;
    left:20px;
    transform: translateY(-50%);
    font-family:"oswald";
    font-size: 1.2rem;
    color: #000000;
    pointer-events: none;
    transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}   
#searchBox{
    background: #7DBBC3;
    box-shadow: 10px 10px 0px #000000;
    border:3px solid transparent;
    border-radius:0px;
    width:40vw;
    height: 8vh;
    font-size: 2rem;
    padding:0 20px;
    transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#searchBox:hover{
    width:41vw;
}


input:valid + #searchLabel{
    top:calc(0% - 1.2rem);
    left:0;
    color:rgb(0, 0, 0)
}

#searchBox:focus + #searchLabel{
    top:-2.8rem;
    left:0px;
    transform: translate(0,0);
}

#searchBox:focus{
    width:45vw;
    color:white;
    background: black;
    box-shadow: 10px 10px 0px  #086788;
}

#searchBtn{
    position: absolute;
    right:0;
    height: 100%;
    font-size: 1.2rem;
    width:10%;
    background: #086788;
    color:white;
    border:none
}
#searchBox:focus ~ #searchBtn{
    background: #ffffff;
    color:rgb(0, 0, 0);
}
section h2{
    font-size: 4.5rem;
    /* letter-spacing: 1.2px; */
    font-family: "Laviossa";
    text-transform: capitalize;
    font-weight: 100;
    text-align: center;
}

section h2 u{
    font-family: "Laviossa";
    text-decoration: underline wavy;
    color:#7DBBC3
}